

.flex{
    display:flex;
    position: relative;
    top: 1px;
    background-color: white;
    
}


#logo{
    width: 210px;
    height: 50px;   
    position: relative;
    top: 20px;;
    left: 110px;;
    padding-right: 10px;
}
.b1{
    border: 0 ;
    
    background-color: transparent;
    font-weight: bold; 
    width: 100;   
}
.b1:hover{
    background-color: rgb(231, 227, 227) ;
    border-radius:25px 25px ;
    width: 100;
    cursor: pointer;
}
.b2{
    border-radius:25px 25px ;
    background-color: transparent;
    position :relative;
    width: 200;
    border: 2px solid;
    border-color: rgb(104, 104, 206) ;
}
.b2:hover{
    background-color: rgba(104, 104, 206, 0.315);
    cursor: pointer;
}
.flex1{
    display: flex;
    flex-direction: column;
    position: relative;
   
    
}
.flex1>*{
    margin:auto;
    opacity:0.6
}
i:hover +p{
    opacity: 1;
    cursor: pointer;
}
i:hover,p:hover{
    opacity:1;
    cursor: pointer;
}
.flex2{
    display:flex;
    flex-direction: row;
    margin-left: auto ;
    position: relative;
    
}
.flex2>*{
 margin:15
}
#ae{
    
    background: black;
    width: 1px;
    height: 50px;
    
    
}
p,h1,.a1,a{font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;}